<header class="page-header no-padding" role="banner">
    <section class="no-padding relative">
        <div class="w-layout-blockcontainer container-medium w-container">
            <div class = "main-content relative">
                <img src="{{ site.header.logo }}" alt="Logo" class="logo">
                <h1 class="project-name">{{ site.title }}</h1>
                <h2 class="project-tagline">{{ site.header.description }}</h2>
                <a href="{{ site.baseurl }}" class="btn">View on GitHub</a>
            </div>
        </div>
    </section>
</header>